<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Libros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<h1 class="text-center">Listado de Autores</h1>
<h2 class="text-center"><a href="http://localhost:8080/view/autor/nuevoAutor">Añadir un autor nuevo</a>  <a href="http://localhost:8080/view/autor/borrarAutor">Borrar un autor</a></h2>
<h3 class="text-center"><a href="http://localhost:8080/view/libro/libros">Ir a libros</a>  <a href="http://localhost:8080/view/editorial/editoriales">Ir a editoriales</a></h3>
<table title="Lista de Autores" class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Libros</th>
    </tr>
    <tr th:each="autor : ${autores}">
        <td th:text="${autor.id}"></td>
        <td th:text="${autor.name}"></td>
        <td>
            <ul th:each="libro : ${autor?.libros}">
                <li th:text="${libro.name}"></li>
            </ul>
        </td>
    </tr>

</table>
</body>
</html>