<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Añadir Libro</title>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/view/libro/libroNuevo}" th:object="${libro}" method="post" class="form-signin">
        <h2 class="form-signin-heading text-center">Añadir un libro</h2>

        <label for="name">Nombre:</label>
        <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">

        <label for="description">Descripción:</label>
        <input class="form-control" type="text" th:field="*{description}" id="description" placeholder="Description">
        <p>Autor:
        <select th:field="*{autor}" class="form-control">
            <option value=""> --- </option>
            <option th:each="autorcargado : ${autores}"
                    th:value="${autorcargado.id}"
                    th:utext="${autorcargado.name}"/>
        </select>
        Editorial:
        <select th:field="*{editorial}" class="form-control">
            <option value=""> --- </option>
            <option th:each="editorialcargada : ${editoriales}"
                    th:value="${editorialcargada.id}"
                    th:utext="${editorialcargada.name}"/>
        </select></p>
        <!--
        <label for="power">Power</label>
        <input type="text" th:field="*{power}" id="power" placeholder="Power">
        -->
        <input type="submit" value="Añadir libro" class="btn btn-lg btn-primary btn-block">
    </form>
</div>
</body>
</html>