<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Borrar Editorial</title>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/view/editorial/editorialBorrado}" th:object="${editorial}" method="post" class="form-signin">
        <h2 class="form-signin-heading text-center">Borrar una editorial</h2>

        <label>Editorial:</label>
        <select th:field="*{id}" class="form-control">
            <option value=""> --- </option>
            <option th:each="editorialcargada : ${editoriales}"
                    th:value="${editorialcargada.id}"
                    th:utext="${editorialcargada.name}"/>
        </select>

        <input type="submit" value="Eliminar editorial" class="btn btn-lg btn-primary btn-block">
    </form>
</div>
</body>
</html>